* {
  box-sizing: border-box;
}
body {
  background: #2AB8A6;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 320px;
}
.logo {
  align-self: center;
  max-width: 100px;
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 1.5rem;
  color: #6A4E77;
  text-align: center;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #6A4E77;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
  font-size: 1rem;
  background: #fff;
  color: #333;
}
input:focus {
  border-color: #2AB8A6;
  outline: none;
}
button {
  width: 100%;
  padding: 0.7rem;
  background-color: #2AB8A6;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #F57C00;
}
.footer-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.toast {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* azul */
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  font-family: Arial, sans-serif;
}
.toast.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-10px);
}
.toast.error {
  background-color: #dc3545;
}
.toast.success {
  background-color: #28a745; 
}